<h2>Payment</h2>

<div class="col-lg-8">

  <h3>Boleto</h3>

  <%= button_to "Gerar Boleto", @checkout.boleto, method: "get", class: "btn btn-primary" %>

  <hr />

  <h3>Cartão de Crédito</h3>

  <%= form_tag do %>

  <% end %>

</div>
